@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: hsla(42, 76%, 58%, 1);

  background: linear-gradient(
    180deg,
    hsla(42, 76%, 58%, 1) 20%,
    hsla(0, 0%, 100%, 1) 100%
  );

  background: -moz-linear-gradient(
    180deg,
    hsla(42, 76%, 58%, 1) 20%,
    hsla(0, 0%, 100%, 1) 100%
  );

  background: -webkit-linear-gradient(
    180deg,
    hsla(42, 76%, 58%, 1) 20%,
    hsla(0, 0%, 100%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#E5B542", endColorstr="#FFFFFF", GradientType=1 );
}
.background {
  background-image: url(./assets/banner-bg.png);
  min-height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.97;
  z-index: -1;
}
.slick-track {
  max-width: 100vw !important;
  width: 60rem !important;
  overflow: hidden !important;
  opacity: 0 !important;
  z-index: 20 !important;
  margin-left: 10rem !important;
}
.flex-cont {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  color: #333;
}
.mainSliderItem {
  width: 300px;
  order: 0;
  flex: 0 1 auto;
  align-self: center;
}
@media (min-width: 640px) {
  .background {
    background-size: cover;
  }
}
