@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f9f9f9;
}
.background {
  background-image: url(./assets/banner-bg.png);
  min-height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.97;
}
.slick-track {
  max-width: 100vw !important;
  width: 60rem !important;
  overflow: hidden !important;
  opacity: 0 !important;
  z-index: 20 !important;
  margin-left: 10rem !important;
}
.flex-cont {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  color: #333;
}
.mainSliderItem {
  width: 300px;
  order: 0;
  flex: 0 1 auto;
  align-self: center;
}
@media (min-width: 640px) {
  .background {
    background-size: cover;
  }
}
